---
import MenuItem from './MenuItem.astro';
const menuItems = [
    { title: 'Home', icon: 'ic:round-home' },
    { title: 'About', icon: 'mdi:about' },
    { title: 'Register', icon: 'mdi:register' },
    { title: 'Speakers', icon: 'ph:user-fill' },
    { title: 'Contact', icon: 'mdi:contact' },
];
---

<nav>
    <ul>
        {
            menuItems.map(({ title, icon }, index) => (
                <MenuItem title={title} icon={icon} target={index} />
            ))
        }

        <!-- <MenuItem icon="ic:round-home" title="Home" target={0}/>
        <MenuItem icon="mdi:about" title="About" target={1}/>
        <MenuItem icon="mdi:register" title="Register" target={2}/>
        <MenuItem icon="ph:user-fill" title="Speakers" target={3}/>
        <MenuItem icon="mdi:contact" title="Contact" target={4}/>  -->
    </ul>
</nav>
