---
import '@glidejs/glide/dist/css/glide.core.min.css';
---

<div class="glide">
    <div data-glide-el="track" class="glide__track">
        <ul class="glide__slides slides">
            <div class="glide__slide slide">
                <div class="content first-content">
                    <div class="container-fluid">
                        <div class="col-md-3">
                            <div class="author-image">
                                <img src="img/Untitled design.png" alt="" />
                            </div>
                        </div>
                        <div class="col-md-9">
                            <h2>GENERIC CONFERENCE</h2>
                            <p>
                                IT'S<em>reagrding</em>, GENERIC CONFERENCE
                                <em>WEBSITE DESIGN,</em> THANKS..
                            </p>
                            <div class="main-btn">
                                <a href="#2">Read More</a>
                            </div>
                            <div class="fb-btn">
                                <a href="https://ge.iitm.ac.in/" target="_blank"
                                    >Our GE WEBSITE SITE</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="glide_slide slide">
                <div class="content second-content">
                    <div class="container-fluid">
                        <div class="col-md-6">
                            <div class="left-content">
                                <h2>About Us</h2>
                                <p>
                                    The Indian Institute of Technology Madras is
                                    known both nationally and internationally
                                    for excellence in technical education, basic
                                    and applied research, innovation,
                                    entrepreneurship and industrial consultancy.
                                </p>
                                <p>
                                    The Indian Institute of Technology Madras is
                                    known both nationally and internationally
                                    for excellence in technical
                                    <a
                                        href="https://www.iitm.ac.in/the-institute/about-iit-madras/overview"
                                        >IITM</a
                                    >
                                </p>
                                <p>
                                    The Indian Institute of Technology Madras is
                                    known both nationally and internationally
                                    for excellence in technical The Indian
                                    Institute of Technology Madras is known both
                                    nationally and internationally for
                                    excellence in technical education, basic and
                                    applied research, innovation,
                                    entrepreneurship and industrial consultancy.


                                    <a
                                        href="https://www.iitm.ac.in/the-institute/about-iit-madras/overview"
                                        >iitm</a
                                    >
                                     molestie.
                                </p>
                                <p>
                                    The Indian Institute of Technology Madras is
                                    known both nationally and internationally
                                    for excellence in technical
                                    <a href="https://ge.iitm.ac.in"
                                        >ge website</a
                                    > education, basic and applied research,
                                    innovation, entrepreneurship and industrial
                                    consultancy.
                                </p>
                                <div class="btn">
                                    <a href="https://ge.iitm.ac.in">Read More</a
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="right-image">
                                <img src="img/abt.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="glide_slide slide">
                <div class="content third-content">
                    <div class="container-fluid">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="first-section">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="left-content">
                                                    <h2>IITM overview</h2>
                                                    <p>
                                                        education, basic and
                                                        applied research,
                                                        innovation,
                                                        entrepreneurship and
                                                        industrial consultancy.
                                                        education, basic and
                                                        applied research,
                                                        innovation,
                                                        entrepreneurship and
                                                        industrial consultancy.
                                                        education, basic and
                                                        applied research,
                                                        innovation,
                                                        entrepreneurship and
                                                        industrial consultancy.
                                                    </p>
                                                    <div class="main-btn">
                                                        <a
                                                            href="https://ge.iitm.ac.in"
                                                            >Continue Reading</a
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="right-image">
                                                    <img
                                                        src="img/bg2.jpg"
                                                        alt="first service"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="second-section">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="left-image">
                                                    <img
                                                        src="img/bg2.jpg"
                                                        alt="second service"
                                                    />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="right-content">
                                                    <h2>IITM overview</h2>
                                                    <p>
                                                        education, basic and
                                                        applied research,
                                                        innovation,
                                                        entrepreneurship and
                                                        industrial consultancy.
                                                        education, basic and
                                                        applied research,
                                                        innovation,
                                                        entrepreneurship and
                                                        industrial consultancy.
                                                    </p>
                                                    <div class="main-btn">
                                                        <a
                                                            href="https://ge.iitm.ac.in"
                                                            >Continue Reading</a
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="glide_slide slide">
                <div class="content fourth-content">
                    <div class="container-fluid">
                        <div class="col-md-6">
                            <form id="contact" action="" method="post">
                                <div class="row">
                                    <div class="col-md-12">
                                        <fieldset>
                                            <input
                                                name="name"
                                                type="text"
                                                class="form-control"
                                                id="name"
                                                placeholder="Your name..."
                                                required=""
                                            />
                                        </fieldset>
                                    </div>
                                    <div class="col-md-12">
                                        <fieldset>
                                            <input
                                                name="email"
                                                type="email"
                                                class="form-control"
                                                id="email"
                                                placeholder="Your email..."
                                                required=""
                                            />
                                        </fieldset>
                                    </div>
                                    <div class="col-md-12">
                                        <fieldset>
                                            <input
                                                name="subject"
                                                type="text"
                                                class="form-control"
                                                id="subject"
                                                placeholder="Subject..."
                                                required=""
                                            />
                                        </fieldset>
                                    </div>
                                    <div class="col-md-12">
                                        <fieldset>
                                            <textarea
                                                name="message"
                                                rows="6"
                                                class="form-control"
                                                id="message"
                                                placeholder="Your message..."
                                                required=""></textarea>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-12">
                                        <fieldset>
                                            <button
                                                type="submit"
                                                id="form-submit"
                                                class="btn"
                                            >
                                                Send Now
                                            </button>
                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="glide_slide slide">
                <div class="content fifth-content">
                    <div class="container-fluid">
                        <div class="col-md-6">
                            <div id="map">
                                <!-- How to change your own map point
                    1. Go to Google Maps
                    2. Click on your location point
                    3. Click "Share" and choose "Embed map" tab
                    4. Copy only URL and paste it within the src="" field below
            -->

                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.6894068247043!2d80.22991331390882!3d12.991706617954126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a526780281bed21%3A0xd860742c9f32f3f4!2sIC%26SR%20Building%20IIT%20Madras!5e0!3m2!1sen!2sin!4v1651833859139!5m2!1sen!2sin"
                                    width="400%"
                                    height="500px"
                                    frameborder="0"
                                    style="border: 0"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                        <!-- <div class="col-md-6"> -->
                        <!-- <form id="contact" action="" method="post"> -->
                        <!-- <div class="row">
                        <div class="col-md-12">
                            <img src="img/edited_3.png" alt="" />
                    </div>
                    </div> -->
                        <!-- <div class="col-md-12">
                            <fieldset>
                            <input
                                name="name"
                                type="text"
                                class="form-control"
                                id="name"
                                placeholder="Your name..."
                                required=""
                            />
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                            <input
                                name="email"
                                type="email"
                                class="form-control"
                                id="email"
                                placeholder="Your email..."
                                required=""
                            />
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                            <input
                                name="subject"
                                type="text"
                                class="form-control"
                                id="subject"
                                placeholder="Subject..."
                                required=""
                            />
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                            <textarea
                                name="message"
                                rows="6"
                                class="form-control"
                                id="message"
                                placeholder="Your message..."
                                required=""
                            ></textarea>
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                            <button type="submit" id="form-submit" class="btn">
                                Send Now
                            </button>
                            </fieldset>
                        </div>
                        </div>
                    </form>
                    </div> -->
                    </div>
                </div>
            </div>
        </ul>
    </div>
</div>

<script>
    import Glide from '@glidejs/glide';

    document.addEventListener('DOMContentLoaded', () => {
        const glideInstance = new Glide('.glide');
        glideInstance.mount();
        (window as any).__glide__ = glideInstance;
    });
</script>
